body {
    height: 100%;
    width: 100%;
}

html {
    display: block;
    height: 100%;
    
}

#Main {
    display: grid;
    place-items: center;
}

#CONTAINER {
    display: block;
    position: relative;
    display: grid;
    grid-row-gap: 25px;
    place-items: center;
    min-width: 1139px;
}

.input-search {
    position: absolute;
    min-height: 34px;
    min-width: 380px;
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    display: inline-block;
    place-items: center;
    outline: none;
    font-size: 16px;
    text-align: left;
    top: 10%;
    left: 11%;
    line-height: 34px;
    font: 16px arial,sans-serif;
    
}

.input-test:hover {
    box-shadow: 0px 2px 10px rgb(206, 206, 206);
}

form > #input-test:hover {
   
    box-shadow: 0px 1px 6px rgb(32, 33, 36, 28%)  ;
    border-color: rgba(223,225,229,0);
    border-width: 1px;
    
}

form {
    display: grid;
    place-items: center;
    grid-row-gap: 1px;
    position: relative;
}

#Image-logo-search {
    background-image: url(https://www.google.com.br/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    width: 272px;
    height: 92px;
    font: 16px/16px roboto-regular, arial, sans-serif;
    color: #4285f4;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    
}

#Image-logo-search > span {
    position: relative;
    left: 215px;
    top: 76px;
}

#search-logo-oninput {
    position: absolute;
    padding-right: 13px ;
    width: 20px;
    height: 20px;
    top: 30%;
    margin-left: 20px;
    opacity: 75%;
}

#search-logo-button {
    background-color: transparent;
    border: none;
    outline: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(src/magnifier-search.png);
    position: absolute;
    width: 18px;
    height: 18px;
    top: 30%;
    right: 5%;
    cursor: pointer;
    
}

#input-test {
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    min-width: 536px;
    min-height: 46px;
}

#input-reset {
    background-color: transparent;
    background-image: url(src/clearbutton.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 35%;
    right: 12%;
    opacity: 28%;
    outline: none;
    border: none;
    cursor: pointer;
}