body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

#Main {
    position: relative;
    padding-top: 109px;
    
}

.content-container {
    display: grid;
    grid-row-gap: 25px;
    place-items: center;
    min-width: 484px;
}

.input-search {
    
    background-image: url(https://www.google.com.br/images/searchbox/desktop_searchbox_sprites318_hr.webp) no-repeat left 10px center;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    min-width: 484px;
    height: 34px;
    outline: none;
    font-size: 16px;
    text-indent: 16px;
    
}

.input-search:hover {
    box-shadow: 0px 2px 10px rgb(206, 206, 206);
}

.button-container > input {

    background-color: #f8f9fa;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    text-align: center;
    height: 36px;
    cursor: pointer;
    color: #3c4043;
    padding: 0px 16px;
    line-height: 27px; 
    
}

.button-container > input:hover {

    box-shadow: 0px 0px 2px rgb(133, 133, 133) ;
    border-width: 1px;
}

.button-container {
    text-align: center;
}

form {
    display: grid;
    place-items: center;
    grid-row-gap: 10px;
}

#Image-logo-search {
    background-image: url(https://www.google.com.br/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    width: 272px;
    height: 92px;
    font: 16px/16px roboto-regular, arial, sans-serif;
    color: #4285f4;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    
}

#Image-logo-search > span {
    position: relative;
    left: 215px;
    top: 76px;
}

.pages > a {
    display: inline-block;
    padding: 10px;
    line-height: 24px;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.pagescon {
    display: grid;
    place-items: end;
    min-width: 980px;
    margin-right: 10px;
    
}

#input-test:hover {
   
    box-shadow: 0px 1px 6px rgb(32, 33, 36, 28%)  ;
    border-color: rgba(223,225,229,0);
    border-width: 1px;
    
}

.input-search {
    position: absolute;
    min-height: 34px;
    min-width: 380px;
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    display: inline-block;
    place-items: center;
    outline: none;
    font-size: 16px;
    text-align: left;
    top: 10%;
    left: 11%;
    line-height: 34px;
    font: 16px arial,sans-serif;
    
}

#search-logo-oninput {
    position: absolute;
    padding-right: 13px ;
    width: 20px;
    height: 20px;
    top: 30%;
    margin-left: 20px;
    opacity: 75%;
}

#input-test {
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    min-width: 536px;
    min-height: 46px;
    width: auto;
    
}

#input-reset {
    background-color: transparent;
    background-image: url(src/clearbutton.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 35%;
    right: 12%;
    opacity: 28%;
    outline: none;
    border: none;
    cursor: pointer;
}

#Image-logo-search {
    background-image: url(https://www.google.com.br/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    width: 272px;
    height: 92px;
    font: 16px/16px roboto-regular, arial, sans-serif;
    color: #4285f4;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    
}