body {
    height: 100%;
    width: 100%;
}

html {
    display: block;
    height: 100%;
    
}

#Main {
    display: grid;
    place-items: center;
}

#CONTAINER {
    display: block;
    position: relative;
    display: grid;
    grid-row-gap: 25px;
    place-items: center;
    min-width: 1139px;
}

.input-search {
    position: relative;
    min-height: 34px;
    min-width: 306px;
    background-color: black;
    border: none;
    word-wrap: break-word;
    display: grid;
    place-items: center;
    outline: none;
    font-size: 16px;
    text-align: left;
    left: 0;
    opacity: 50%;
}

.input-test:hover {
    box-shadow: 0px 2px 10px rgb(206, 206, 206);
}

form > #button-container > input:hover {
   
    box-shadow: 0px 0px 2px rgb(133, 133, 133) ;
    border-width: 1px;
}

form {
    display: inline-block;
    position: relative;
}

#Image-logo-search {
    background-image: url(https://www.google.com.br/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    width: 272px;
    height: 92px;
    font: 16px/16px roboto-regular, arial, sans-serif;
    color: #4285f4;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    
}

#Image-logo-search > span {
    position: relative;
    left: 215px;
    top: 76px;
}

#search-logo-oninput {
    padding-right: 13px ;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    margin-left: 20px;
    opacity: 75%;
}

#input-test {
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    min-width: 536px;
    min-height: 46px;
}

#div-img {
    position: relative;
}